{% extends 'base.twig' %}

{% block content %}
    <h2>
        Dodawanie nowego autora
    </h2>
	<hr>
    {% for flashMessage in app.session.getFlashBag.get('message') %}
    <div class="alert alert-{{ flashMessage.type }}">
        {{ flashMessage.content }}
    </div>
    {% endfor %}
	
    <form action="" method="post">
        {{ form_widget(form) }}
    </form>
	<p>
        <a href="{{ url('/authors/controlpanel') }}" title="Authors">
            < Lista autorów
        </a>
    </p>
{% endblock %}