{% extends 'base.twig' %}

{% block content %}
    <h2>
        Usuwanie autora
    </h2>
    <hr>
    <div>
        <h4>Czy na pewno chcesz usunąć autora: {{ author.name }} {{ author.surname }}?</h4>
        <form action="" method="post">
            {{ form_widget(form) }}
        </form>
    </div>
    <p>
        <a href="{{ url('/authors/controlpanel') }}" title="Lista autorów">
            < Lista autorów
        </a>
    </p>

{% endblock %}