{% extends 'base.twig' %}

{% block content %}
    <h2>
        Edycja danych wydawnictwa
    </h2>
    <hr>
    <form action="" method="post">
        {{ form_widget(form) }}
    </form>
{% endblock %}